<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Teacher</title>
    </head>
    <body>
        <form action="http://localhost:5000/registered" method="POST">
            <p>This is a dummy registration page. Where a click on the Goto button will be considered as a teacher registered for the course.</p>
            Email:<input type="email" name="email">
            <button type="submit">Goto</button>
        </form>
    </body>
</html>